<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Mosaddek" />
    <meta name="keyword" content="slick, flat, dashboard, bootstrap, admin, template, theme, responsive, fluid, retina" />

    <title>HSH</title>
 
</head>
<body class="sticky-header">
	<div style="width: 25%;float:left;">
    <div class="col-md-3" style="width: 100%; ">
        <div class="box box-warning box-solid">
            <div class="box-header with-border" style="background: ">
                <h3 class="box-title">HNAS</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <a class="a_show" href="#" onclick="CurrentSystem.selectCurrentSystem('1234')">1234</a>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="width: 100%; ">
        <div class="box box-warning box-solid">
            <div class="box-header with-border" style="background: #D65EA0;">
                <h3 class="box-title">Miscellaneous Systems</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <a class="a_show" href="#" onclick="CurrentSystem.selectCurrentSystem('gdsgsg')">gdsgsg</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3" style="width: 100%; ">
    <div class="box box-warning box-solid">
        <div class="box-header with-border" style="background: ">
            <h3 class="box-title">Server</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <a class="a_show" href="#" onclick="CurrentSystem.selectCurrentSystem('Request Entity Too Large')">Request Entity Too Large</a>
        </div>
    </div>
</div>
</div>
<div style="width: 25%;float:left;">
    <div class="col-md-3" style="width: 100%; ">
        <div class="box box-warning box-solid">
            <div class="box-header with-border" style="background: #D65EA0;">
                <h3 class="box-title">Software</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <a class="a_show" href="#" onclick="CurrentSystem.selectCurrentSystem('virtual_storage_machines')">virtual_storage_machines</a>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="width: 100%; ">
        <div class="box box-warning box-solid">
            <div class="box-header with-border" style="background: #5D53B1;">
                <h3 class="box-title">Solution</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <a class="a_show" href="#" onclick="CurrentSystem.selectCurrentSystem('uysdjhsdk')">uysdjhsdk</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3" style="width: 100%; ">
    <div class="box box-warning box-solid">
        <div class="box-header with-border" style="background: #D65EA0;">
            <h3 class="box-title">Storage</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <a class="a_show" href="#" onclick="CurrentSystem.selectCurrentSystem('VSP')">VSP</a>
        </div>
    </div>
</div>
</div>
<div class="col-md-3" style="width: 100%; ">
    <div class="box box-warning box-solid">
        <div class="box-header with-border" style="background: #5D53B1;">
            <h3 class="box-title">Switch</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <a class="a_show" href="#" onclick="CurrentSystem.selectCurrentSystem('respJson')">respJson</a>
        </div>
    </div>
</div>
</div>
	
    
</body>
</html>