<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HSH Admin</title>
<link href="/css/style1.css?version={{version}}" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/js/jquery.js?version={{version}}"></script>
<script language="JavaScript" src="/js/layer/layer.js?version={{version}}"></script>
<script type="text/javascript" src="/js/public.js?version={{version}}"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})
</script>
</head>

<body style="background:#000;">
	<div class="lefttop" style="padding-left: 10px;">MENU</div>
    
    <dl class="leftmenu">
	    <dd>
		    <div class="title">
		    	<span><img src="/images/leftico01.png" /></span><a style="color: #fff;" href="#">Current System</a>
		    </div>
		    
		    <ul class="menuson">
			     <li id="search_li"><cite></cite><a id="search_a" href="/hsh_backstage/addMenu/" target="rightFrame" style="color: #fff;">Add</a><i></i></li>
			    <li><cite></cite><a href="/hsh_backstage/getCurrentSystem/" target="rightFrame" style="color: #fff;">Select</a><i></i></li>
			</ul>
	    </dd>
	    
	    <dd>
		    <div class="title">
		    	<span><img src="/images/leftico01.png" /></span><a style="color: #fff;" href="#">EOL System</a>
		    </div>
		    
		    <ul class="menuson">
			    <li><cite></cite><a href="/hsh_backstage/getEOLSystem/" target="rightFrame" style="color: #fff;">Select</a><i></i></li>
			</ul>
	    </dd>
	    
	    <dd>
		    <div class="title">
		    	<span><img src="/images/leftico01.png" /></span><a style="color: #fff;" href="#">Quick Reference</a>
		    </div>
		    
		    <ul class="menuson">
			    <li><cite></cite><a href="/hsh_backstage/getCurrentSystem/" target="rightFrame" style="color: #fff;">Select</a><i></i></li>
			</ul>
	    </dd>
	    
	    <dd>
		    <div class="title">
		    	<span><img src="/images/leftico01.png" /></span><a style="color: #fff;" href="#">Feedback</a>
		    </div>
		    
		    <ul class="menuson">
			    <li><cite></cite><a href="/hsh_backstage/getCurrentSystem/" target="rightFrame" style="color: #fff;">Select</a><i></i></li>
			</ul>
	    </dd>
    </dl>
</body>
</html>
